<!-- Email Footer Partial -->
<div class="footer">
    <div class="footer-logo">A LO CUBANO BOULDER FEST</div>
    <div class="footer-info">{{festivalDates}}</div>
    <div class="footer-info">{{festivalVenue}}</div>
    <div class="footer-info">{{festivalAddress}}</div>
    
    <div class="footer-contact">
        Questions? Contact us at 
        <a href="mailto:{{festivalEmail}}" class="social-link">{{festivalEmail}}</a>
        <br>
        Follow us: <a href="https://www.instagram.com/alocubano.boulderfest/" class="social-link">{{festivalInstagram}}</a>
    </div>
</div>